@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar:horizontal {
  display: none;
}

::-webkit-scrollbar-thumb {
  background: #555;
  background: #5a6dac;
  border-radius: 20px;
}

.loader {
  width: 40px;
  height: 60px;
  position: relative;
}
.loader::before,
.loader::after {
  content: "";
  position: absolute;
  inset: 0;
  background: #514b82;
  clip-path: polygon(0 0, 100% 0, 100% 67%, 50% 67%, 50% 34%, 0 34%);
  animation: sp7 2s infinite;
}
.loader::after {
  --s: -1, -1;
}
@keyframes sp7 {
  0%,
  10% {
    transform: scale(var(--s, 1)) translate(0, 0) rotate(0deg);
  }
  33% {
    transform: scale(var(--s, 1)) translate(0, -20px) rotate(0deg);
  }
  66% {
    transform: scale(var(--s, 1)) translate(10px, -20px) rotate(-90deg);
  }
  90%,
  100% {
    transform: scale(var(--s, 1)) translate(10px, -10px) rotate(-90deg);
  }
}
.MuiDataGrid-row:nth-child(even) {
  background: #f7f7f7;
}
.MuiDataGrid-columnSeparator {
  display: none;
}
.MuiDataGrid-columnHeader, .MuiDataGrid-iconButtonContainer > button, .MuiDataGrid-menuIcon > button{
  background: #1F263E!important;
  color: #fff;
}

.MuiDataGrid-cell {
  color: #333;
  outline: none!important;
}